### Lists

In [7]:
list1 = ['apple', 'banana', 'orange']
list1

['apple', 'banana', 'orange']

In [8]:
list2 = [7, 11, 13, 17, 19]
list2

[7, 11, 13, 17, 19]

In [9]:
list3 = ['text', 23, 66, -1, [0, 1]]
list3

['text', 23, 66, -1, [0, 1]]

In [10]:
empty = []
empty

[]

In [11]:
list1[0]

'apple'

In [13]:
list1[-1]

'orange'

In [14]:
list1[-2]

'banana'

In [16]:
'orange' in list1

True

In [17]:
'pineapple' in list1

False

In [18]:
0 in list3

False

In [19]:
0 in list3[-1]

True

In [21]:
None in empty

False

In [23]:
66 in list3

True

In [24]:
len(list2)

5

In [25]:
len(list3)

5

In [26]:
del list2[2]
list2

[7, 11, 17, 19]

In [27]:
new_list = list1 + list2
new_list

['apple', 'banana', 'orange', 7, 11, 17, 19]

In [29]:
new_list * 2

['apple',
 'banana',
 'orange',
 7,
 11,
 17,
 19,
 'apple',
 'banana',
 'orange',
 7,
 11,
 17,
 19]

In [30]:
[new_list] * 3

[['apple', 'banana', 'orange', 7, 11, 17, 19],
 ['apple', 'banana', 'orange', 7, 11, 17, 19],
 ['apple', 'banana', 'orange', 7, 11, 17, 19]]